ul, li {
   list-style-type: none;
   margin: 0;
   padding: 0;
   text-align: left;
 }

li {
  margin: 0;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0;
}

.footer {
  display: flex;
  align-content: center;
  justify-content: center;
}

a {
  padding: 10px;
  border: 1px solid black;
  text-decoration: none;
  background: grey;
  color: white;
}

a:hover {
  background: white;
  color: grey;
}

input[type='text'] {
  width: 80%;
  display: block;
  margin: 20px auto;
  border: 1px solid grey;
  border-radius: 2px;
  padding: 20px;
}